NODE_ENV=development
PORT=3005
FRONTEND_URL=http://localhost:3000
UPLOAD_CONCURRENCY_LIMIT=2 
DB_NAME=your-database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_ENCRYPT_SECRET=your-encryption-secret-here
DB_HASH_PEPPER=your-hash-pepper-here
ACCESS_TOKEN_SECRET=your-token-secret-here
REFRESH_TOKEN_SECRET=your-token-secret-here
MAIL_HOST=smtp.example.email
MAIL_PORT=587
MAIL_USER=your-address
MAIL_PASS=your-password